.product-list-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .product-list-item-img {
    width: 100%;
    height: auto;
    border-radius: 3px;
  }
  
  .product-list-item-title {
    margin: 1rem;
    max-width: 30rem;
    height: 5rem;
  }
  .product-list-item-price {
    max-width: 30rem;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
  }
  
  
  .product-list-item-add {
    padding: 1rem;
    background-color: #007bff;
    color: white;
    outline: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    margin-top: 1rem;
    width: 15rem;
    font-weight: 500;
  }