.cart-page {
  padding: 3rem;
  min-height: 81vh;
  position: relative;
}

.cart-col-wrapper {
  margin-top: 5rem;
  display: flex;
  min-height: 60vh;
}

.cart-col{
  width: 50vw;
  border-right: 2px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 60vh;
  overflow: scroll;
  justify-content: center;
}

.even {
  justify-content: space-between;
  align-items: flex-start;
}

.cart-col:last-child {
    border-right: none;
}

.cart-col-right {
    max-height: 60vh;
    overflow: scroll;
}