/* main color: #f3d52f; */
/* other colors: #76d3d6  #bd3e3e #292933 #f15035 orange*/

/* --------------------------- HEADER SECTION --------------------------- */

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f3d52f;
  width: 100vw;
  margin: 0 auto;
  padding-top: 5rem;
  background-image: linear-gradient(to bottom, #f3d62f4b, #f3d62f10 50%),
    url("/peace.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.landing-col-left {
  height: 62.2rem;
  width: 58vw;
  display: flex;
  justify-content: center;
}

.landing-col-left h1 {
  max-width: 35.5rem;
  font-family: "Jomolhari", serif;
}

.header-title {
  font-size: 10rem;
  font-weight: 400;
}

.landing-col-right {
  height: 60.2rem;
  width: 42vw;
  margin-right: 5vw;
  text-align: center;
}

.landing-col-right h3 {
  font-size: 4rem;
  font-weight: 200;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 30rem;
  margin-top: 15%;
}


.landing-content {
  height: 15rem;
  background-color: orange;
  clip-path: polygon(0 0, 100% 0%, 100% 49%, 0% 100%);
}


/* --------------------------- ARROW BUTTON (NOT USED) --------------------------- */

.arrow-btn {
  height: 5rem;
  width: 5rem;
  background-color: orange;
  border: 3px solid #292933;
  border-radius: 50%;
  margin: 2rem 50vw;
  font-size: 275%;
  padding-top: 5px;
  padding-right: 1px;
  transform: translateY(2px);
  transition: all 0.2s;
}

.arrow-btn:focus {
  outline: none;
}

.arrow-btn:hover {
  transform: translateY(-2px);
}
.arrow-btn:active {
  transform: translateY(-1px);
}






/* --------------------------- PRODUCT LIST --------------------------- */

.product-list-section {
  margin: 2rem auto;
  min-height: 50rem;
  background-color: #fff;
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-list-section-title {
  font-size: 300%;
  margin: auto;
  margin-bottom: 4rem;
  text-align: center;
  font-weight: 500;
}

.product-list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

#shop-all-btn {
  margin: 5rem auto 0 auto;
  padding: 2rem;
}
